<!doctype html>

<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<div class="h-screen flex items-center justify-center bg-red-500">
    <a href="/api/auth/login">Join the discord</a>
</div>

</body>
</html>
